body {
  color: white;
  background-color: black;
}

.video--container {
  height: 110vh;
}

nav {
margin: 10px;

}

header ul {
  display: flex;
  justify-content: flex-start;
}

header li {
  margin: 10px;
}

.nav--home {
  position: fixed;
  z-index: 1;
  background-color: black;

}

.nav--landing {
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: space-between;

}
nav li {
  list-style-type: none;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
  color: none;
}


.img--card{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.photo--description {
  z-index: 1;
}